.DoceContainer{
    background-color: #FFF8DC;
    border: 2px solid #DEB887;
    border-radius: 15px;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
}
h1{
    text-align: center;
    color: #8B4513;
    font-family: 'Arial', sans-serif;
    font-size: 75px;
}
img{
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    margin-bottom: auto;
    padding-bottom: 20px;

}
h2{
   
    border-top: black solid 2px;
    padding-top: 10px;    color: #A0522D;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    text-align: center;
}
p{
    color: black;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    text-align: justify;
    margin: 0 20px;
}
h3{
    color: #CD853F;
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    margin-left: 20px;
}